<div class="container">
    <header>
        <p>Uploading Picture...... :)</p>
    </header>
        <!--<div id="wrapper">  
            <div id="page-wrapper">
                <div class="row">
                    <div class="container">
                        <div id="identitycard" style="margin-top:50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                            <div class="panel panel-info">
                                <div>
                                    <div ng-show="uploadCtrl.cropper.croppedImage">
                                        <canvas width="266" 
                                                height="236"
                                                id="myCanvas" 
                                                image-cropper image="uploadCtrl.cropper.sourceImage" 
                                                cropped-image="uploadCtrl.cropper.croppedImage" 
                                                crop-width="266" 
                                                crop-height="236" 
                                                keep-aspect="true" 
                                                touch-radius="30" 
                                                crop-area-bounds="uploadCtrl.bounds"></canvas>
                                    </div>
                                    <div ng-show="uploadCtrl.cropper.croppedImage; uploadCtrl.showImg"><img id="croppedImage" ng-src="{{uploadCtrl.cropper.croppedImage}}" /></div>
                                </div>
                                <div class="panel-heading">
                                    <div class="panel-title">Upload Photo</div>
                                </div>
                                <div class="panel-body">
                                    <div class="row" style="padding: 10px 15px 9px;">
                                        <form role="form">
                                            <div class="form-group">
                                                <div class="row" style="margin-bottom: 20px;">
                                                    <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12 col-md-offset-3 col-sm-offset-3 col-xs-offset-2">
                                                        <input type="file" name="file" id="exampleInputFile" img-cropper-fileread image="uploadCtrl.cropper.sourceImage">
                                                    </div>
                                                </div>
                                                <div class="row text-center" style="padding-left: 20px;padding-right: 20px;">
                                                    <button type="submit" class="btn btn-lg btn-block btn-success" ng-click="uploadCtrl.post()" 
                                                            style="border-radius: 50px;background-color:hover:#35832f;">Submit</button>
                                                </div>

                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row text-center" ng-show="uploadCtrl.cropper.croppedImage">
                    <img src="{{uploadCtrl.cropper.sourceImage}}" width="484px" height="434px" />
                </div>
        </div>
    </div>-->
</div>


<div>
    <div>
        <input type="file" name="file" id="fileUploadInput" img-cropper-fileread image="uploadCtrl.cropper.sourceImage" />
        <div ng-show="uploadCtrl.cropper.sourceImage">
            <canvas width="300" height="150" id="canvas"
                    image-cropper
                    image="uploadCtrl.cropper.sourceImage"
                    cropped-image="uploadCtrl.cropper.croppedImage"
                    crop-width="200"
                    crop-height="100"
                    keep-aspect="true"
                    touch-radius="30"
                    crop-area-bounds="uploadCtrl.bounds"></canvas>
        </div>
        <div ng-show="uploadCtrl.cropper.croppedImage"><img ng-src="{{uploadCtrl.cropper.croppedImage}}" /></div>
    </div>
    <div>
        <button ng-click="uploadCtrl.post()">Upload</button>
    </div>
</div>