<div class="container">
    <div class="row main col-md-8 col-md-offset-2">
        <div class="panel-heading">
            <div class="panel-title text-center">
                <h1 class="title">People</h1>
                <hr />
            </div>
        </div>
        <div>
            <button type="button" class="btn btn-primary btn-lg btn-block " ng-click="peopleCtrl.showAll()">List Of people</button>
        </div>
        <div class="space-30"></div>
        <div class="main-login main-center">
            <form class="form-horizontal" name="people" method="post" action="#">
                <div class="form-group">
                    <label class="col-sm-4 control-label">First Name</label>
                    <div class="col-sm-8">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                            <input type="text" class="form-control" name="firstName" ng-model="peopleCtrl.item.firstName" placeholder="Enter your frist Name" required />
                            <div ng-show="people.firstName.$invalid && !people.firstName.$pristine">
                                <span ng-messages="required" class="text-danger">First Name is required</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Middle Initial</label>
                    <div class="col-sm-8">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
                            <input type="text" class="form-control" name="middleInitial" ng-model="peopleCtrl.item.middleInitial" placeholder="Enter your middle initial" />
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Last Name</label>
                    <div class="col-sm-8">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
                            <input type="text" class="form-control" name="lastName" ng-model="peopleCtrl.item.lastName" placeholder="Enter your last name" required />
                            <div ng-show="people.lastName.$invalid && !people.lastName.$pristine">
                                <span ng-messages="required" class="text-danger">Last Name is required.</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Date Of Birth</label>
                    <div class="col-sm-8">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                            <input type="date" class="form-control" name="dateOfBirth" ng-model="peopleCtrl.item.dateOfBirth" placeholder="Enter your dateOfBirth" required />
                            <div ng-show="people.dateOfBirth.$invalid && !people.dateOfBirth.$pristine">
                                <span ng-messages="required" class="text-danger">Birth Date is required.</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group ">
                    <button type="button" class="btn btn-primary btn-lg btn-block" ui-sref="listpeople" ng-click="peopleCtrl.postPerson()">Submit</button>
                </div>
            </form>
            <div class="space-60"></div>
        </div>
        <div class="space-60"></div>
    </div>
    <div class="list col-sm-6 col-md-4 col-md-offset-1" ng-repeat="item in peopleCtrl.allItems">
        <div class="space-60"></div>
        <div>
            <p><strong>first Name: </strong>{{item.firstName}}</p>
            <p><strong>Middle Initial: </strong>{{item.middleInitial}}</p>
            <p><strong>Last Name: </strong>{{item.lastName}}</p>
            <p><strong>Date Of Birth: </strong>{{item.dateOfBirth | date:date:"dd, MMMM, yyyy"}}</p>
            <p><strong>Created Date: </strong>{{item.createdDate | date:date:"dd, MMMM, yyyy 'at' h:mma"}}</p>
            <md-button class="btn btn-danger glyphicon glyphicon-trash" ng-click="peopleCtrl.remove(item.id)"></md-button>
            <md-button class="btn btn-info glyphicon glyphicon-pencil" data-toggle="modal" data-target="#editNews" ng-click="peopleCtrl.editing(item)"></md-button>
        </div>
    </div>
</div>

<div class="modal fade" id="editNews" role="dialog">
    <div class="modal-dialog">
        <div class="panel">
            <nav class="panel-heading">
                <h1 class="panel-title text-success">EDIT</h1>
            </nav>
            <div class="panel-body">
                <form class="form-horizontal" name="people">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">First Name</label>
                        <div class="col-sm-8">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                                <input type="text" class="form-control" name="firstName" ng-model="peopleCtrl.itemCopy.firstName" placeholder="Enter your frist Name" required />
                                <div ng-show="people.firstName.$invalid && !people.firstName.$pristine">
                                    <span ng-messages="required" class="text-danger">First Name is required</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Middle Initial</label>
                        <div class="col-sm-8">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
                                <input type="text" class="form-control" name="middleInitial" ng-model="peopleCtrl.itemCopy.middleInitial" placeholder="Enter your middle initial" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Last Name</label>
                        <div class="col-sm-8">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
                                <input type="text" class="form-control" name="lastName" ng-model="peopleCtrl.itemCopy.lastName" placeholder="Enter your last name" required />
                                <div ng-show="people.lastName.$invalid && !people.lastName.$pristine">
                                    <span ng-messages="required" class="text-danger">Last Name is required.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Date Of Birth</label>
                        <div class="col-sm-8">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                                <input type="date" class="form-control" name="dateOfBirth" ng-model="peopleCtrl.itemCopy.dateOfBirth" placeholder="Enter your dateOfBirth" required />
                                <div ng-show="people.dateOfBirth.$invalid && !people.dateOfBirth.$pristine">
                                    <span ng-messages="required" class="text-danger">Birth Date is required.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group ">
                        <button type="button" class="btn btn-primary btn-lg btn-block" data-dismiss="modal" ng-click="peopleCtrl.change(peopleCtrl.editItem.id)">Update</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>